// Footer with light background, padding, and automatic margin to push it to the bottom
footer.bg-light.py-4.mt-auto
    // Full-width container for centered content
    .container-fluid.text-center
        // Link to the contact page with no text decoration and dark text color
            // As well as heading for the contact section.
        a(href="http://127.0.0.1:8080/contact", class="text-decoration-none text-dark")
            h2.lh-1.fs-4 Contact Us

    // Another full-width container for the copyright information, centered
    .container-fluid.text-center.mt-3
        p.mb-0 &copy; 2024 Weather Dashboard. All Rights Reserved.