// Update Username and Password Page
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css", rel="stylesheet")

block content
    // Go Back Button in the top-right corner
    .position-absolute.top-0.end-0.m-3
        button.btn.btn-secondary(type="button", onclick="history.back()") Go Back To Previous Page
    .container.mt-5
        h1 Update Your Credentials
        form(id="updateForm", onsubmit="updateUser('${id}'); return false;")
            .mb-3
                label(for="newUsername", class="form-label") New Username
                input(type="text", class="form-control", id="newUsername", name="newUsername" required)
            .mb-3
                label(for="newPassword", class="form-label") New Password
                input(type="password", class="form-control", id="newPassword", name="newPassword" required)
            .mb-3
                label(for="confirmPassword", class="form-label") Confirm Password
                input(type="password", class="form-control", id="confirmPassword" name="confirmPassword" required)
            button(type="submit", class="btn btn-primary") Save Changes

script.
    async function updateUser(id) {
        const newUsername = document.getElementById("newUsername").value;
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("confirmPassword").value;

        if (!newUsername || !newPassword || !confirmPassword) {
            alert("Please provide both a new username and password.");
            return;
        }

        if (newPassword !== confirmPassword) {
            alert("Passwords do not match.");
            return;
        }

        const confirmUpdate = confirm('Are you sure you want to update your credentials?');
        if (confirmUpdate) {
            try {
                const response = await fetch(`/user/update-username/#{id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ newUsername, newPassword }),
                });

                const result = await response.json();
                if (response.ok) {
                    alert(result.message);
                    window.location.href = '/weather'; // Redirect after successful update of user
                } else {
                    alert(result.message || 'Error updating user');
                }
            } catch (err) {
                alert('An error occurred: ' + err.message);
            }
        }
    }